<!DOCTYPE html>
<html lang="en">
	<head>
		<title>信息系统建模作业</title>
		<meta charset="utf-8" />
{#		<meta name="viewport" content="width=device-width, initial-scale=\2" />#}
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">系统展示</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a target="_blank" href="userinfo">信息展示</a></li>
								<li><a target="_blank" href="network">网络分析</a></li>
								<li><a target="_blank" href="tuijian">好友推荐</a></li>
{#                                <li><a target="_blank" href="second.html">second</a></li>#}
								<!-- <li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li> -->
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
                <p></p>


					<section id="banner">
						<div class="inner">
							<!-- <div class="logo"><span class="icon fa-diamond"></span></div> -->
							<p>This is our project</p>
							<h2>复杂网络建模展示 </h2>
						</div>
                        <div class="inner">
                        <ul class="links">
								<li><a target="_blank" href="userinfo" style="font-size: 40px">信息展示</a></li>
								<li><a target="_blank" href="network" style="font-size: 40px">网络分析</a></li>
								<li><a target="_blank" href="tuijian" style="font-size: 40px">好友推荐</a></li>
{#                                <li><a target="_blank" href="second.html">second</a></li>#}
								<!-- <li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li> -->
							</ul>
                        </div>
					</section>

				<!-- Wrapper -->
{#					<section id="wrapper">#}
{##}
{#						<!-- One -->#}
{#							<section id="one" class="wrapper spotlight style1">#}
{#								<div class="inner">#}
{#									<a href="userinfo" class="image"><img src="../static/images/pic01.jpg" alt="" /></a>#}
{#									<div class="content">#}
{#										<h2 class="major">信息展示</h2>#}
{#										<p>选取任一位豆瓣用户，可视化展示其爱好、关注对象等信息。</p>#}
{#										<a href="userinfo" class="special">Learn more</a>#}
{#									</div>#}
{#								</div>#}
{#							</section>#}
{##}
{#						<!-- Two -->#}
{#							<section id="two" class="wrapper alt spotlight style2">#}
{#								<div class="inner">#}
{#									<a href="network" class="image"><img src="../static/images/pic02.jpg" alt="" /></a>#}
{#									<div class="content">#}
{#										<h2 class="major">网络分析</h2>#}
{#										<p>展示用户间的交互网络，以及相关的复杂网络特征。</p>#}
{#										<a href="network" class="special">Learn more</a>#}
{#									</div>#}
{#								</div>#}
{#							</section>#}
{##}
{#						<!-- Three -->#}
{#							<section id="three" class="wrapper spotlight style3">#}
{#								<div class="inner">#}
{#									<a href="tuijian" class="image"><img src="../static/images/pic03.jpg" alt="" /></a>#}
{#									<div class="content">#}
{#										<h2 class="major">好友推荐</h2>#}
{#										<p>根据用户的标签及浏览记录，向其推荐适合的书籍或电影。</p>#}
{#										<a href="tuijian" class="special">Learn more</a>#}
{#									</div>#}
{#								</div>#}
{#							</section><div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>#}
{#					</section>#}

				<!-- Footer -->
{#					<section id="footer">#}
{#						<div class="inner">#}
{#							<ul class="copyright">#}
{#								<li>&copy; Untitled Inc. All rights reserved.</li><li>陕西省天地网技术重点实验室</li>#}
{#							</ul>#}
{#						</div>#}
{#					</section>#}

			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>