<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网络展示</title>

    <style type="text/css">
        /* cytoscape graph */
        #cy {
            height: 1200px;
            width: 1900px;
            background-color: #f9f9f9;
            margin-left: 8%;
        }
    </style>

{#    <link rel="stylesheet" href="../static/css/my.css" type="text/css" media="screen">#}

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/cytoscape/cytoscape.js"></script>

</head>
<body>
这个是用户之间的交互网络展示
<div id="cy"></div>

<script type="text/javascript">
    $(function(){
      $.get('/cy_data', function(data) {
        console.log(data)
        var cy = cytoscape({
          container: document.getElementById('cy'),
          {#style: style,#}
          layout: { name: 'random' ,fit: true},
          elements: data.elements
        });
      }, 'json');
    });

</script>
</body>


</html>