<!DOCTYPE html>
<html lang="en"  style="height: 100%">

<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="../static/bootstrap-select/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../static/bootstrap-select/bootstrap-select.css" type="text/css" media="screen">

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script src="../static/js/dataTool.min.js"></script>
    <script src="../static/bootstrap-select/bootstrap.min.js"></script>
    <script src="../static/bootstrap-select/bootstrap-select.js"></script>
</head>
<body style="height: 100%; margin: 0">

<div id="container" style="position: absolute ;height: 100%;width: 80%"></div>
<div id ="second" style="position: absolute ;left: 80%;top:50%;height: 50%;width: 20%"></div>
<div id="other_top" style="position: absolute ;left: 80%;height: 30%;width: 20%">
    <div class="list-group" style="width: 100%">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <h5 class="mb-1">网络特征展示</h5>
      </a>


      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">

            <table class="table table-hover table-striped" style="width: 100%" >
                <tr style="width: 100%">
                    <td style="width: 50%">节点</td><td style="width: 50%;align-self: right">2503</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">边</td><td style="width: 50%;align-self: right">9754</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">平均度</td><td style="width: 50%;align-self: right">3.897</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">平均加权度</td><td style="width: 50%;align-self: right">23.964</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">网络直径</td><td style="width: 50%;align-self: right">16</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">平均路径长度</td><td style="width: 50%;align-self: right">5.712</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">模块度</td><td style="width: 50%;align-self: right"> 0.350</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">社区划分</td><td style="width: 50%;align-self: right"> 18</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">平均聚集系数</td><td style="width: 50%;align-self: right">0.086</td>
                </tr>
                <tr style="width: 100%">
                    <td style="width: 50%">特征向量中心度</td><td style="width: 50%;align-self: right">0.0095</td>
                </tr>

            </table>

        </div>
      </a>

    </div>
</div>

{#<div id="other_top" style="position: absolute ;left: 80%;top: 50%;height: 50%;width: 20%">#}
{#     <div class="list-group" style="width: 100%">#}
{#      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">#}
{#        <h5 class="mb-1">节点特征显示</h5>#}
{#      </a>#}
{##}
{##}
{#      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">#}
{#        <div class="d-flex w-100 justify-content-between">#}
{##}
{#            <table class="table table-hover table-striped" style="width: 100%" >#}
{#                <tr style="width: 100%">#}
{#                    <td style="width: 50%">平均度</td><td style="width: 50%;align-self: right">7.771</td>#}
{#                </tr>#}
{##}
{#            </table>#}
{##}
{#        </div>#}
{#      </a>#}
{##}
{#    </div>#}
{#</div>#}
    <script>
        var dom_2 = document.getElementById("second");
    var myChart2 = echarts.init(dom_2);

    $.get('analyse',function(s) {
        option2 = {
             {#backgroundColor: '#2c343c',#}
    title : {
        text: '网络中的度分析',
        x:'center',
        textStyle:{
            fontSize:30
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['1-10','10-50','50-100','100']
    },
    series : [
        {

            name: '度范围',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:2192, name:'1-10'},
                {value:275, name:'10-50'},
                {value:16, name:'50-100'},
                {value:20, name:'100'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]

};
myChart2.setOption(option2);
    })

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    myChart.showLoading();
    $.get('network_gexf',function(s) {
        console.log(s)
        myChart.hideLoading();
        var graph = echarts.dataTool.gexf.parse(s);
        {#print(graph)#}
        console.log(graph)
        {#graph.nodes.forEach(function (node) {#}
        {#    node.itemStyle = null;#}
            {#node.value = node.label;#}
        {#    node.label = node.name;#}
            {#node.category = node.attributes.modularity_class;#}
        option = {
            backgroundColor: '#000',
            title: {
                text: '豆瓣用户网络',
                subtext: 'Default layout',
                top: 'bottom',
                left: 'right'
            },
            tooltip: {},
            {#legend: [{#}
            {#    // selectedMode: 'single',#}
            {#    data: categories.map(function (a) {#}
            {#        return a.name;#}
            {#    })#}
            animationDuration: 1500,
            animationEasingUpdate: 'quinticInOut',
            series : [
                {
                    name: '豆瓣用户网络',
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 10,
                    data: graph.nodes,
                    links: graph.links,
                    {#categories: categories,#}
                    roam: true,
                    {#label: {#}
                    {#    normal: {#}
                    {#        position: 'right',#}
                    {#        formatter: '{b}'#}
                    {#    }#}
                    force: {
                        repulsion: 500

                    },
                    lineStyle: {
                        normal: {
                            color: 'source',
                            curveness: 0.3
                        }
                    }
                }
            ]
        };

        myChart.setOption(option);
    }, 'xml');
    myChart.on('click', function (s) {
        console.log(s)
    });

    </script>
</body>
</html>