<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐好友</title>
    <link rel="stylesheet" href="../static/bootstrap-select/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../static/bootstrap-select/bootstrap-select.css" type="text/css" media="screen">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/dataTool.min.js"></script>
    <script src="../static/bootstrap-select/bootstrap.min.js"></script>
    <script src="../static/bootstrap-select/bootstrap-select.js"></script>
</head>
<body>
<form>
    <div style="position: absolute ;top:20%;height: 20%;width: 50%">
        <div>
            　　　　　　　　　　　　　　
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: right">电影：</label>
                <div class="col-sm-4">
                    <select id="usertype" name="usertype" class="selectpicker show-tick form-control" multiple
                            data-live-search="false">
                        <option value="0">苹果</option>

                    </select>
                </div>
            </div>
        </div>

        <div>
            　　　　　　　　　　　　　　
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: right">书籍：</label>
                <div class="col-sm-4">
                    <select id="usertype" name="usertype" class="selectpicker show-tick form-control" multiple
                            data-live-search="false">
                        <option value="0">苹果</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="control-group" style="position: absolute ;left:34%;top:80%;height: 15%;width: 15%">
            <div class="controls">
                <a id="button" class="btn btn-success" style="width: 100%">确定</a>
            </div>
        </div>
    </div>

</form>

</body>
</html>