<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" href="../static/bootstrap-select/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../static/bootstrap-select/bootstrap-select.css" type="text/css" media="screen">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/echarts-wordcloud.js"></script>
    <script src="../static/bootstrap-select/bootstrap.min.js"></script>
    <script src="../static/bootstrap-select/bootstrap-select.js"></script>
</head>


<div id="ciyun"
     style="position: absolute ;left:10%;top: 15%;width: 40%;height: 60%;color: black;background-color:rgba(255,255,0,0);z-index: 9999">

</div>


<div id="select"
     style="position: absolute;left: 80%;top: 5%;width: 18%;height: 10%;color: black;background-color:rgba(255,255,255,0);z-index: 9999">
    <form>
        <div id="legend" class="">
            <legend class="" style="color: black;size: 35px;text-align: center;">豆瓣用户信息展示</legend>
        </div>
        <div class="form-group"><!--style="width: 50%;height:100%"-->
            <select id="username" class="selectpicker show-tick form-control"
                    title="请选择用户">
            </select>
        </div>
        <div class="control-group">
            <div class="controls">
                <a id="button" class="btn btn-success" style="width: 100%">确定</a>
            </div>
        </div>
    </form>
</div>


<div style="position: absolute ;left: 80%;top: 35%;width: 18%;height: 40%;color: black;background-color:rgba(255,255,0,0);z-index: 9999"
>
    <div class="list-group" id="movie">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">
                电影
            </h4>
        </a>
    </div>
    <div class="list-group " id="book">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">
                书籍
            </h4>
        </a>

    </div>
</div>
<script type="text/javascript">
    $('#myList a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })


    var dom = document.getElementById("ciyun");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    {#myChart.showLoading();#}
    console.log("ok")

    $.get("username", function (username) {
            {#console.log(username.length);#}
            for (var i = 0; i < username.length; i++) {
                {#console.log(username[i]);#}
                $("#username").append("<option value='" + Object.values(username[i]) + "'>" + Object.values(username[i]) + "</option>");
            }
            $('#username').selectpicker('refresh');
        }
    )

    $("#button").on("click", function () {
        var name = $('#username').selectpicker('val');
        console.log(name);


        $.get("get_userbookinfo", {user_name: name}, function (userbookinfo) {
            var len = userbookinfo.length
            console.log(len)
            for (var i = 0; i < len; i++) {
                movie_name = userbookinfo[i]["movie_name"]
                movie_rate = userbookinfo[i]["movie_rate"]
                movie_tag = userbookinfo[i]["movie_tag"]

                var oTest = document.getElementById("movie");
                var newA = document.createElement("a");
                newA.setAttribute("class", "list-group-item")
                var newH = document.createElement("h4");
                newH.innerHTML = movie_name
                newH.setAttribute("class", "list-group-item-heading")

                var newp = document.createElement("p");
                newp.innerHTML = movie_rate
                newp.setAttribute("class", "list-group-item-text")

                newA.appendChild(newH)
                {#newA.appendChild(newp)#}
                oTest.appendChild(newA)
            }
        })

        $.get("get_usermovieinfo", {user_name: name}, function (usermovieinfo) {
            var len = usermovieinfo.length
            console.log(usermovieinfo)
            for (var i = 0; i < len; i++) {
                book_name = usermovieinfo[i]["book_name"]
                {#movie_rate= usermovieinfo[i]["movie_rate"]#}
                {#movie_tag =usermovieinfo[i]["movie_tag"]#}
                console.log(book_name)

                var oTest = document.getElementById("book");
                var newA = document.createElement("a");
                newA.setAttribute("class", "list-group-item")
                var newH = document.createElement("h4");
                newH.innerHTML = book_name
                newH.setAttribute("class", "list-group-item-heading")

                var newp = document.createElement("p");
                newp.innerHTML = movie_rate
                newp.setAttribute("class", "list-group-item-text")

                newA.appendChild(newH)
                {#newA.appendChild(newp)#}
                oTest.appendChild(newA)
            }
        })


        $.get("ciyun", {user_name: name}, function (ciyun) {
            {#console.log(ciyun)#}
            {#myChart.hideLoading();#}
            option = {
                title: {
                    text: "'" + name + "'" + "词云图",
                    x: 'center',
                    bottom: 10,
                    textStyle: {
                        fontSize: 43,
                        color: '#1da819'

                    }
                },

                tooltip: {},
                series: [{
                    type: 'wordCloud',
                    gridSize: 5,
                    sizeRange: [35, 90],
                    rotationRange: [0, 0],
                    shape: 'circle',
                    width: 1600,
                    height: 1400,
                    textStyle: {
                        normal: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            shadowBlur: 10,
                            shadowColor: '#333'
                        }
                    },
                    data: ciyun
                }]
            }

            myChart.setOption(option);
        })


        myChart.on('click', function (params) {
            //alert((params.name));
            {#window.open('https://www.baidu.com/s?wd=' + encodeURIComponent(params.name));#}

        })
    })


</script>

</body>
</html>